{% extends "base.html" %}

{% block content %}
<h1 class="text-center mb-4 text-white-heading">{{ category_name }}</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for product in products %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ product.picture.url }}" class="card-img-top" alt="{{ product.model }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.brand }} {{ product.model }}</h5>
                        <p class="card-text">Sku: {{ product.sku }}</p>
                        <p class="card-text">Precio: ${{ product.price_selling }}</p>
                        <p class="card-text">Cantidad: {{ product.stock }}</p>
                        <p class="card-text">Color: {{ product.color }}</p>
                        <p class="card-text">Categoria: {{ product.category }}</p>
                        <a href="product/{{product.id}}" class="btn btn-primary">
                            <i class="fa-solid fa-eye"></i>
                        </a>
                        <a href="edit_product/{{product.id}}" class="btn btn-primary">
                            <i class="fa-solid fa-pencil"></i>
                        </a>
                        <a href="delete_product/{{product.id}}" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}