{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4 text-white-heading">Categorías</h1>
    <div class="list-group">
        <h2 class="list-group-item list-group-item-action active">
            Nuestras Categorías
        </h2>
        <a href="{% url 'guitars:category_view' 'Bajos' %}" class="list-group-item list-group-item-action">Bajos</a>
        <a href="{% url 'guitars:category_view' 'Guitarras Electricas' %}" class="list-group-item list-group-item-action">Guitarras Eléctricas</a>
        <a href="{% url 'guitars:category_view' 'Guitarras Acusticas' %}" class="list-group-item list-group-item-action">Guitarras Acústicas</a>
        <a href="{% url 'guitars:category_view' 'Guitarras Electro Acusticas' %}" class="list-group-item list-group-item-action">Guitarras Electroacústicas</a>
        <a href="{% url 'guitars:category_view' 'Guitarras Clasicas' %}" class="list-group-item list-group-item-action">Guitarras Clásicas</a>
    </div>
</div>
{% endblock content %}
