
<!-- Este codigo es el "header" es decir la foto del chico tocando la guitarra  -->


<header>
    <script>
        // Initialization for ES Users
        import { Collapse, Ripple, initMDB } from "mdb-ui-kit";
        initMDB({ Collapse, Ripple });
    </script>
    <!-- Intro settings -->
    <style>
        /* Default height for small devices */
        #intro-example {
            height: 400px;
        }
  
        /* Height for devices larger than 992px */
        @media (min-width: 992px) {
            #intro-example {
                height: 600px;
            }
        }

        /* Background color for the mask */
        .mask {
            background-color: rgba(0, 0, 0, 0.7); /* Change the color and transparency as needed */
        }
    </style>
  
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
            <button
                data-mdb-collapse-init
                class="navbar-toggler"
                type="button"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>
        </div>
    </nav>
    <!-- Navbar -->
  
    <!-- Background image -->
    <div
        id="intro-example"
        class="p-5 text-center bg-image"
        style="background-image: url('https://images.unsplash.com/photo-1444623151656-030273ddb785?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
    >
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Tienda de Guitarras</h1>
                    <h5 class="mb-4">Aqui podras manejar el inventario de la tienda de guitarras</h5>
                    <a
                        data-mdb-ripple-init
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://www.youtube.com/watch?v=c9B4TPnak1A"
                        role="button"
                        rel="nofollow"
                        target="_blank"
                    >Start tutorial</a>
                    <a
                        data-mdb-ripple-init
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://mdbootstrap.com/docs/standard/"
                        target="_blank"
                        role="button"
                    >Download MDB UI KIT</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
