<header>
    <script>
        // Initialization for ES Users
        import { Collapse, Ripple, initMDB } from "mdb-ui-kit";
        initMDB({ Collapse, Ripple });
    </script>
    {% load static %}
    <!-- Enlaza el archivo CSS externo -->
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <div
        id="intro-example"
        class="p-5 text-center bg-image"
        style="background-image: url('https://images.unsplash.com/photo-1444623151656-030273ddb785?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');"
    >
        <div class="mask">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Tienda de Guitarras</h1>
                    <h5 class="mb-4">Aquí podrás manejar el inventario de la tienda de guitarras</h5>
                    <a
                        data-mdb-ripple-init
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://www.youtube.com/watch?v=HN-KHZ9NDVA"
                        role="button"
                        rel="nofollow"
                        target="_blank"
                    >When the sun hits</a>
                    <a
                        data-mdb-ripple-init
                        class="btn btn-outline-light btn-lg m-2"
                        href="https://www.youtube.com/watch?v=CvjRlYpXS5U"
                        target="_blank"
                        role="button"
                    >Jigsaw</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
