{% extends "base.html" %}

{% block title %}Cards with Custom Background{% endblock %}

{% block content %}
  <div class="custom-container">
    <div class="custom-card-container">

      {% comment %} Estas son las cards del index {% endcomment %}
      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h2>01</h2>
            <h3>Clientes</h3>
            <p>Consultar la base de datos de los clientes</p>
            <a href="{% url "guitars:client_list" %}">Read More</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h2>02</h2>
            <h3>Productos</h3>
            <p>Litado de los productos del inventario </p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h2>03</h2>
            <h3>Categorias</h3>
            <p>Nuestras categorias de productos</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>

      <div class="custom-card">
        <div class="custom-box">
          <div class="custom-content">
            <h2>04</h2>
            <h3>Ventas</h3>
            <p>Consulta o ingresa una venta en el siguiente enlace</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
