{% extends "base.html" %}

{% block content %}
    <h1 class="text-center mb-4 text-white-heading">Ventas</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for sale in sales %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">Cliente: {{ sale.client.name }}</h5>
                        <p class="card-text">Descuento: ${{ sale.discount }}</p>
                        <p class="card-text">Total: ${{ sale.total_amount }}</p>
                        <hr>
                        <h6>Productos:</h6>
                        {% if sale.sale_items.exists %}
                            {% for item in sale.sale_items.all %}
                                <div class="mb-2">
                                    <p class="card-text">Producto: {{ item.product.brand }} {{ item.product.model }}</p>
                                    <p class="card-text">Sku: {{ item.product.sku }}</p>
                                    <p class="card-text">Precio: ${{ item.product.price_selling }}</p>
                                    <p class="card-text">Cantidad: {{ item.quantity }}</p>
                                    <p class="card-text">Color: {{ item.product.color }}</p>
                                    <p class="card-text">Categoría: {{ item.product.category }}</p>
                                    <hr>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No hay productos para esta venta.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
